@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    height:350vh;
}
/* position */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
/* display */
.display{
    display: flex;
    justify-content: space-between;
}

/* *************************************** */
.imgmain img{
    width: 100%;
    height: 720px;
}
.iconandtext{
    color: white;
    width: 94%;
    left: 3%;
    /* background-color: aqua; */
    font-size:13px;
    bottom: 700px;
}
.righticon img{
    position: relative;
    top: 5px;
    width: 150px;
}

.maintext {
    font-family: 'Fredoka One', cursive;
    font-size: x-large;
    position: absolute;
    bottom: 310px;
    color: white;
    left: 950px;
}

/* ************************************************************* */
.firstcontainer{
}
.firstinner{
width: 65%;
position: relative;
top: 70px;
left: 17.5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
}
.one img{
    width: 380px;
}
.explorevolvo{
    width: 65%;
    position: relative;
    left: 17.5%;
    top: 0px;
    color: #4d4e53;
    height: 50px;
}
.explorevolvo p{
    font-weight: bolder;
    font-size: 14px;
}
.explorevolvo h1{
    font-size: 34px;
}
.one p {
    /* font-family: 'Fredoka One', cursive; */
   position: relative;
   bottom: 200px;
   left: 50px;
   color: white;
}
.one h1{
    font-family: 'Fredoka One', cursive;
    position: relative;
    bottom: 195px;
    left: 50px;
    color: white;
    font-size: 30px;
}

.iconand-scrollbar{
    width: 65%;
    position: relative;
    left: 17.5%;
    bottom: 40px;
}
.full{
    position: relative;
    left: 150px;
    width: 85%;
    bottom:50px;
}
.half{
    position: relative;
    width: 8%;
    left: 150px;
    bottom:52px;
    border-color: #004fbc;
}
.lefticonarrow span{
    position: relative;
    font-size: 50px;
    top: 35px;
}
.righticonarrow span{
    position: relative;
    font-size: 50px;
    bottom: 20px;
    left: 70px;
    color: #004fbc;
}
.group-of-img{
    top: 40px;
    width: 65%;
    position: relative;
    /* left: 17.5%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    /* grid-template-rows: 60% 40% 40% ; */
}
.img1 img{
    height: 100%;
    width: 100%;
}
.img2 p{
    text-align: left;
    font-size: 13px;
    font-weight: bolder;
    color: #4d4e53;
}
.img2 h1{
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    color: #4d4e53;
}
.twobutton button{
    width: 230px;
    height:50px;
    top: 20px;
    position: relative;
    right: 60px;
    background-color: #1251b5;
    border: none;
    color: white;
    font-size: large;
}

/*  */
footer{
    background-color: #131313;
    position: relative;
    top: 90px;
    width: 100%;
    height: 700px;
    color: white;
}
.innerfooter{
  width: 90%;
  position: relative;
  top: 100px;
  left: 5%; 
  display: flex;
  justify-content: space-between;
}
.rightlist li{
    padding: 5px;
    font-size: 30px;
}
.rightlist li p{
    font-size: 15px;
    position: relative;
    bottom: 20px;
    color: #4d4e53;
}
.leftlist li{
    padding: 5px;
    font-size: 30px;
}
.leftlist li p{
    font-size: 15px;
    position: relative;
    bottom: 20px;
    color: #4d4e53;
}
.cookies{
    position: relative;
    top: 450px;
}
.cookies p{
    color: #4d4e53;
    font-size: 12px;
}
.pivacy{
    display: flex;
    justify-content: space-between;
    width: 120px;
    position: relative;
    left: 20px;
    top: 10px;
}
.pivacy p{
    font-size: 14px;
    color: white;
}